RewriteEngine On

#Options -Indexes

#RewriteCond %{THE_REQUEST} \.php [NC]
#RewriteRule ^ - [F,L]

RewriteRule ^login$ public/login.php [L]
RewriteRule ^login/$ public/login.php [L]

RewriteRule ^sair$ public/sair.php [L]
RewriteRule ^sair/$ public/sair.php [L]

RewriteRule ^erro-sistema$ public/error.php [L]
RewriteRule ^erro-sistema/$ public/error.php [L]

RewriteRule ^cadastro$ public/cadastro.php [L]
RewriteRule ^cadastro/$ public/cadastro.php [L]

RewriteRule ^home$ public/home.php [L]
RewriteRule ^home/$ public/home.php [L]

RewriteRule ^usuarios$ public/usuarios.php [L]
RewriteRule ^usuarios/$ public/usuarios.php [L]

RewriteRule ^usuarios/([0-9]+)$ public/editar-usuario.php?id=$1 [L]
RewriteRule ^usuarios/([0-9]+)/$ public/editar-usuario.php?id=$1 [L]


RewriteRule ^orgaos$ public/orgaos.php [L]
RewriteRule ^orgaos/$ public/orgaos.php [L]

RewriteRule ^reunioes$ public/reunioes.php [L]
RewriteRule ^reunioes/$ public/reunioes.php [L]

RewriteRule ^pauta/([0-9]+)$ public/pauta.php?id=$1 [L]
RewriteRule ^pauta/([0-9]+)/$ public/pauta.php?id=$1 [L]

RewriteRule ^orgaos/([0-9]+)$ public/editar-orgao.php?id=$1 [L]
RewriteRule ^orgaos/([0-9]+)/$ public/editar-orgao.php?id=$1 [L]

RewriteRule ^orgaos-tipos$ public/orgaos-tipos.php [L]
RewriteRule ^orgaos-tipos/$ public/orgaos-tipos.php [L]

RewriteRule ^pessoas-tipos$ public/pessoas-tipos.php [L]
RewriteRule ^pessoas-tipos/$ public/pessoas-tipos.php [L]

RewriteRule ^profissoes$ public/profissoes.php [L]
RewriteRule ^profissoes/$ public/profissoes.php [L]


RewriteRule ^pessoas$ public/pessoas.php [L]
RewriteRule ^pessoas/$ public/pessoas.php [L]

RewriteRule ^aniversarios$ public/aniversarios.php [L]
RewriteRule ^aniversarios/$ public/aniversarios.php [L]

RewriteRule ^notas$ public/notas.php [L]
RewriteRule ^notas/$ public/notas.php [L]

RewriteRule ^pessoas/([0-9]+)$ public/editar-pessoa.php?id=$1 [L]
RewriteRule ^pessoas/([0-9]+)/$ public/editar-pessoa.php?id=$1 [L]

RewriteRule ^imprimir-pessoas$ public/imprimir-pessoas.php [L]
RewriteRule ^imprimir-pessoas/$ public/imprimir-pessoas.php [L]


RewriteRule ^comissoes$ public/comissoes.php [L]
RewriteRule ^comissoes/$ public/comissoes.php [L]